/*font  */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

/* colors */


:root {
    --primary : #1a253f
    --dark : #151a33
    --secondary :#2b55cc
    --info :#4d7916
    --ternary : #848db3
    --pure : #eff2f9
    --fade : #7081b9    
    --mild : #8997bd
    --footer : #212A4A
    --black : #060b1b
    --twitter : #4ac7ec
    --dribbble : #ff5da0
    --success : #1ecab8
    --danger : #f1646c
    --dark-blue : #28365f
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'IBM Plex Sans', sans-serif;
    background: var(--dark);
    -webkit-font-smoothing: antialiased;

}


h1, h2, h3, h4, h5, h6 {
    margin:0 ;
    line-height: 1;

}

.container {
    max-width: 1140 px;
    margin:0 auto;

}